{% comment %}
There's probably a simpler/cleaner way, but for now...
{% endcomment %}

{% assign ctr_class = '' %}
{% assign abt_class = '' %}
{% assign fun_class = '' %}
{% assign unv_class = '' %}
{% assign ind_class = '' %}
{% assign gov_class = '' %}
{% assign stg_class = '' %}
{% if page.tag == 'centers'    %}{% assign ctr_class = 'usa-current' %}{% endif %}
{% if page.tag == 'about'      %}{% assign abt_class = 'usa-current' %}{% endif %}
{% if page.tag == 'funding'    %}{% assign fun_class = 'usa-current' %}{% endif %}
{% if page.tag == 'university' %}{% assign unv_class = 'usa-current' %}{% endif %}
{% if page.tag == 'industry'   %}{% assign ind_class = 'usa-current' %}{% endif %}
{% if page.tag == 'government' %}{% assign gov_class = 'usa-current' %}{% endif %}
{% if page.tag == 'strategy'   %}{% assign stg_class = 'usa-current' %}{% endif %}

<header class="usa-header usa-header--basic">
  <div class="usa-banner">
    <div class="usa-accordion">
      <header class="usa-banner__header">
        <div class="usa-banner__inner">
          <div class="grid-col-auto">
            <img class="usa-banner__header-flag" src="../../visuals/css-assets/us-flag.png" alt="U.S. flag">
          </div>
          <div class="grid-col-fill tablet-lg:grid-col-auto">
            <p class="usa-banner__header-text">An official website of the United States government</p>
            <p class="usa-banner__header-action" aria-hidden="true">Here&#39;s how you know</p>
          </div>
          <button class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner">
            <span class="usa-banner__button-text">Here&#39;s how you know</span>
          </button>
          <div class="usa-banner__links">
            <a href="#">IUCRC.org</a><a href="/">NSF.gov</a>
          </div>
        </div>
      </header>
      <div class="usa-banner__content usa-accordion__content" id="gov-banner">
        <div class="grid-row grid-gap-lg">
          <div class="usa-banner__guidance tablet-lg:grid-col-6">
            <img class="usa-banner__icon usa-media-block__img" src="../../visuals/css-assets/icon-dot-gov.svg"
              alt="Dot gov">
            <div class="usa-media-block__body">
              <p><b>The .gov means it’s official.</b><br>Federal government websites often end in .gov or .mil. Before
                sharing sensitive information, make sure you’re on a federal government site.</p>
            </div>
          </div>
          <div class="usa-banner__guidance tablet-lg:grid-col-6">
            <img class="usa-banner__icon usa-media-block__img" src="../../visuals/css-assets/icon-https.svg"
              alt="Https">
            <div class="usa-media-block__body">
              <p><b>The site is secure.</b><br>The <b>https://</b> ensures that you are connecting to the official
                website and that any information you provide is encrypted and transmitted securely.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <a href="/" title="Home" aria-label="Home">
          <img src="../../visuals/css-assets/nsf-iucrc-logo.svg" alt="NSF &amp; IUCRC Logos" />
          <span class="usa-sr-only">Home</span></a>
      </div>
      <div class="usa-navbar__btn"><button class="usa-menu-btn"></button></div>
    </div>

    <nav aria-label="Primary navigation" class="usa-nav">
      <div class="usa-navbar">
        <div class="usa-logo" id="basic-logo">
          <a href="/" title="" aria-label="">
            <img src="../../visuals/css-assets/nsf-iucrc-logo.svg" alt="NSF &amp; IUCRC Logos" />
            <span class="usa-sr-only"></span></a>
        </div>
        <div class="usa-navbar__btn"><button class="usa-nav__close"></button></div>
      </div>

      <div class="usa-header__search">
        <form class="usa-search usa-search--small">
          <div role="search">
            <label class="usa-sr-only" for="search-field-small">Search</label>
            <input class="usa-input" id="search-field-small" type="search" name="search" placeholder="Search">
            <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
          </div>
        </form>
      </div>

      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link {{ ctr_class }}" aria-expanded="false"
            aria-controls="nav-centers">Centers<span></span></button>
          <ul id="nav-centers" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="#">Center Directory</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="#">Center Achievements</a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-accordion__button usa-nav__link {{ abt_class }}" href="/about/">About</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-accordion__button usa-nav__link {{ fun_class }}" href="#">Funding</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-accordion__button usa-nav__link {{ unv_class }}" href="#">University</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-accordion__button usa-nav__link {{ ind_class }}" href="#">Industry</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-accordion__button usa-nav__link {{ gov_class }}" href="#">Government</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-accordion__button usa-nav__link {{ stg_class }}" href="#">Strategic Engagements</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
