{% comment %}
You shouldn't have to edit this page very often. But if you want to modify some of the meta-data for the
site, this is the place to do it.
{% endcomment %}

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% unless site.branch == "main" %}
  <meta name="robots" content="noindex, nofollow">
  {% endunless %}
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title and meta description
    ================================================== -->
  {% if page.title %}
    {% assign page_title = page.title %}
  {% else %}
    {% assign page_title = site.title %}
  {% endif %}
  <title>{{ page_title }}</title>
  <meta property="og:title" content="{{ page_title }}">

  {% if page.acronym %}
    {% assign desc = site.data.centers[page.acronym].field_overview | strip_html %}
  {% elsif page.description %}
    {% assign desc = page.description %}
  {% else %}
    {% assign desc = site.description %}
  {% endif %}
  <meta name="description" content="{{ desc }}">
  <meta property="og:description" content="{{ desc }}">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.twitter }}" />
  <meta name="twitter:title" content="{{ page_title }}" />
  <meta name="twitter:description" content="{{ desc }}" />

  <meta property="og:type" content="article">
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <!-- Favicons
    ================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="{% asset favicon-96x96.png @path %}">
  <link rel="icon" type="image/png" href="{% asset favicon-96x96.png @path %}">
  <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
  <link rel="icon" type="image/png" sizes="192x192" href="{% asset favicons/favicon-192.png @path %}">
  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="{% asset favicons/favicon-57.png @path %}">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% asset favicons/favicon-72.png @path %}">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% asset favicons/favicon-114.png @path %}">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% asset favicons/favicon-144.png @path %}">
  <!-- CSS
    ================================================== -->
  <link rel="stylesheet" href="{% asset small.min @path %}" type="text/css">
  <link rel="stylesheet" href="{% asset medium.min @path %}" type="text/css" media="screen and (min-width: 800px)">
  <link rel="stylesheet" href="{% asset large.min @path %}" type="text/css" media="screen and (min-width: 1024px)">
  <link rel="stylesheet" href="{% asset xlarge.min @path %}" type="text/css" media="screen and (min-width: 1200px)">
  {% asset index.scss %}
</head>
