@media (min-width: 800px) {
  .usa-nav__primary button[aria-expanded=false] {
    background-image: none;
  }

  .usa-nav__primary button {
    background-image: none !important;
  }

  .usa-nav__primary-item {
    .usa-accordion__button {
      background: none;
    }
  }
  
  .usa-header .usa-nav__link:focus:after, .usa-header .usa-nav__link:hover:after {
      background: #f9c642;
  }

  .usa-header .usa-current:after, .usa-header [aria-expanded=true]:after {
    background: #e8e8e8;
  }
}
