$iucrc-gold: #f9c642;
$iucrc-navy: #005ea2;

.hide {
  display: none;
}

@media (min-width: 800px) {
  .usa-nav__primary button[aria-expanded=false] {
    background-image: none;
  }

  .usa-nav__primary button {
    background-image: none !important;
  }

  .usa-nav__primary-item {
    .usa-accordion__button {
      background: none;
    }
  }
  
  .usa-header .usa-nav__link:focus:after, .usa-header .usa-nav__link:hover:after {
      background: $iucrc-gold;
  }

  .usa-header .usa-current:after, .usa-header [aria-expanded=true]:after {
    background: #e8e8e8;
  }
}

.paging {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .pager {
    display: flex;

    li {
      padding: 0 0 0.3em 0;
      margin: 0 0.25em;
      width: 1.25em;

      &::before {
        display: none;
      }

      &:hover {
        border-bottom: 3px solid $iucrc-navy;
      }

      a {
        color: $iucrc-navy;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 1em;
        text-decoration: none !important;
      }

      &.selected {
        border-bottom: 3px solid $iucrc-gold;
      }
    }
  }
}

.content-block.achievement {
  p:last-of-type.keep-margin {
    margin-bottom: 1.5625rem;
  }

  figcaption {
    font-size: 0.9rem;
    font-style: italic;
  }

  h3 {
    font-size: unset;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.footnotes {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #ddd;

  .footnote {
    font-size: smaller;
  }
}

.achievement-cards__card:before {
  background: linear-gradient(to bottom,rgba(0,94,162,.5),rgba(0,94,162,.9) 35%,#005999)
}

.filters__results .location {
  display:none;
}