@media (min-width: 800px) {
  .usa-nav__primary button[aria-expanded=false] {
    background-image: none;
  }

  .usa-nav__primary button {
    background-image: none !important;
  }

  .usa-nav__primary-item {
    .usa-accordion__button {
      background: none;
    }
  }
  
  .usa-header .usa-nav__link:focus:after, .usa-header .usa-nav__link:hover:after {
      background: #f9c642;
  }

  .usa-header .usa-current:after, .usa-header [aria-expanded=true]:after {
    background: #e8e8e8;
  }
}

.paging {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .pager {
    display: flex;

    li {
      padding: 0;
      width: 1.5em;

      &::before {
        display: none;
      }

      a {
        display: inline-block;
        width: 100%;
        text-align: center;
      }

      &.selected {
        background: #005ea2;

        a {
          color: #fff;
        }
      }
    }
  }
}

.content-block.achievement {
  p:last-of-type.keep-margin {
    margin-bottom: 1.5625rem;
  }

  figcaption {
    font-size: 0.9rem;
    font-style: italic;
  }

  h3 {
    font-size: unset;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.footnotes {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #ddd;

  .footnote {
    font-size: smaller;
  }
}

.filters__results .location {
  display:none;
}