<div class="hero">
  <div id="interiorCarousel" class="carousel slide carousel--interior" data-ride="carousel" data-pause="false" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel__bg" style="background-image: url('{{ site.baseurl }}/visuals/placeholders/contact-us.jpg');"></div>
          <div class="carousel__content carousel__content--slant">
            <div class="carousel__text-cta">
              <h1>Contact Us</h1>
              <p class="carousel__subtitle"></p>
            </div>
          </div>
        </div>
        <div class="credit__wrapper">
          <p class="credit">Dr. Andreas Papadopoulos, AHPC, European University Cyprus</p>
        </div>
      </div>
    </div>
  </div>
</div>
