<div class="hero">
  <div id="carouselIndustry" class="carousel slide carousel--interior" data-ride="carousel" data-pause="false" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel__bg" style="background-image: url('{{ site.baseurl }}/visuals/placeholders/factory.jpg');"></div>
          <div class="carousel__content carousel__content--slant">
            <div class="carousel__text-cta">
              <h1>Strategic Engagements</h1>
            </div>
          </div>
        </div>

        <div class="credit__wrapper">
          <p class="credit">Joanie Tobin/Tufts University; ©2008 Trustees of Tufts College</p>
        </div>
      </div>
    </div>
  </div>
</div>