<div class="hero">
  <div id="carouselIndustry" class="carousel slide carousel--interior" data-ride="carousel" data-pause="false"
    data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel__bg" style="background-image: url('{{ site.baseurl }}/visuals/css-assets/wheat_people.jpg');">
          </div>
          <div class="carousel__content carousel__content--slant">
            <div class="carousel__text-cta">
              <h1>University</h1>
              <p class="carousel__subtitle">Conduct high-impact, fundamental, pre-competitive research through the
                Industry–University Cooperative Research Centers Program</p>
            </div>
          </div>
        </div>

        <div class="credit__wrapper">
          <p class="credit">Wheat Center Resource Center</p>
        </div>
      </div>
    </div>
  </div>
</div>