{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

{% include meta.html %}

<body class="" data-spy="scroll" data-target=".secondary-nav" data-offset="100">
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQWNJLV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  <div class="background">
    {% include header.html %}
  
    {{ content }}
  
    {% include footer.html %}
  
    {% include scripts.html %}
  </div>
</body>

</html>
